*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: /*linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),*/url(images/0798adf9c191e928d86114726aaee261.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    padding: 40px 0;
    color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 85%;
    color: white;
    margin: -280px 0 0 90px;
    padding: 260px 0;
    font-size: large;
    font-weight: bold;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container button{
    width: 70px;
    height: 24px;
    color: white;
    margin: 10px 0 0 30px;
    background: transparent;
    border-color: white;
    font-weight: bold;
    border-width: 2px;
    border-radius: 20px;
}
.canva{
    width: 80%;
    height: 40px;
    margin: -280px 0 0 130px;
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canva1 button{
    width: 22%;
    height: 30px;
    color: rgb(12, 88, 12);
    margin: 5px 0 0 525px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border-color: rgb(20, 122, 20);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canva2 button{
    width: 6%;
    height: 30px;
    color: black;
    margin: 8px 0 0 628px;
    font-weight: bolder;
    background: transparent;
    border-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}